document, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.h1 {
    font-size: 72pt;
}

.h2 {
    font-size: 72pt;
    margin-bottom: 10px;
}

#background1 {  
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: url(https://art.pixilart.com/sr2f745bc58f2aws3.gif) no-repeat center center fixed; 
    padding: 10px;
    background-size: cover;
}

#background2 {  
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: url(https://art.pixilart.com/sr21363031375aws3.png) no-repeat center center fixed; 
    padding: 10px;
    background-size: cover;
}

#intro {
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    border-radius: 100px;
    background-color: #ed942dae;
    padding: 20px;
}

#prompt{
    display: none;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-page {
    display: none;
    padding-bottom: 50px;
    columns: 3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-page .yesOrNo {
    font-size: 30pt;
    margin-top: 10%;
    text-align: center;
    margin-left: 30%;
    width: 30%;
    border-radius: 20%;
    background-color: #db97e3b3;

}

.clickMe {
    margin-top: 200px;
    text-align: center;
    margin-left: 22%;
    background-color: #7753fba8;
    border-radius: 15%;
    width: 50%
}



#credits {
    display: none;
    text-align: center;
<<<<<<< HEAD

=======
>>>>>>> parent of 05e6247 (Update group-project.css)
}
/* #main-page controls the yesOrNo text CSS as well*/
/* syds button mashing, unsure if this is totally conventional but it works!*/

#enter {
    width: 200px;
    height: 120px;
    background-image: url("../button/button-regular.png");
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#enter:hover {
    width: 155px;
    height: 120px;
    background-image: url("../button/button-expanded.png");
} 

#ask {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../button/button-blank.png") ;
    width: 65px;
    height: 35px;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#ask:hover {
    width: 65px;
    height: 50px;
    background-image: url("../button/button-expanded.png");
}

.button::after {
    content: "ask!";
    font-size: large;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}
.button:hover::after {
    content: "  ";
}

/* back to normal programming */ 
#input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#question {
   background-color:#e39a68a8;
   width: 50%;
   padding: 20px;
   margin: 8px 0;
   margin-right: 10px;
   color: white;
   border-radius: 25%;
   font-size: 20px;
   border-color: #462909;
   border-width: 5px;
   font-family: 'Courier New', Courier, monospace;
   flex: 1;
}

.text {
    font-size: 20pt;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to bottom,  #EDC79B 70%, #C8D6AF) no-repeat center center fixed;
}

#back {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: 'Courier New', Courier, monospace;
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #d2380e;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#back:hover,
#back:focus-visible{
    --_p: 0px;
     outline-color: var(--color);
     outline-offset: .05em;
}

#back:active {
    background: var(--color);
    color: #fff;
}

#background3 {
    background-image: url(../notebook/notebook.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#main-page .flowerInfo {
    font-size: 14px;
    display: flex;
    width: 30%;
    position: absolute;
    right: 5%;
    top: 25%;
    border: #462909 dotted 3px;
    padding-right: 35px;
}

.flowerInfo{
    background-color: #C8D6AF;
}

#flowerButton img{
    background: none;
    display: flex;
    border: none;
    max-width: 120%;
    cursor: pointer;
    margin-top: -10px;
    margin-left: 15%;
    width: 130%; 
    object-fit: contain;
    margin-bottom: 10%;
}

#pixelCredit {
    width: 30px;
    height: 30px;
    border-color: #304b02;
    border-width: 5px ;
}


