.h1 {
    font-size: 72pt;
}

#background1 {  
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: url(https://art.pixilart.com/sr2f745bc58f2aws3.gif) no-repeat center center fixed; 
    padding: 10px;
}

#intro {
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    border-radius: 100px;
    background-color: #ed942dae;
    padding: 20px;
}

#prompt{
    display: none;
    margin-top: 25%;
    text-align: center;
}

#output{
    text-align: center;
}

#main-page {
    display: none;
    text-align: center;
}

/* syds button mashing, unsure if this is totally conventional but it works!*/

#enter {
    width: 200px;
    height: 120px;
    background-image: url("button/button-regular.png");
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#enter:hover {
    width: 155px;
    height: 120px;
    background-image: url("button/button-expanded.png");
} 

#ask {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("button/button-blank.png") ;
    width: 65px;
    height: 35px;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#ask:hover {
    width: 65px;
    height: 50px;
    background-image: url("button/button-expanded.png");
}

.button::after {
    content: "ask!";
    /* if anyone can figure out how to scoot the text up 
    by a few px so its centered in the button
    that would be great! i have tried to no avail */
}
.button:hover::after {
    content: "  ";
}

/* back to normal programming */ 

#question { 
   background-color:#325a24a8;
   width: 50%;
   padding: 12px 20px;
   margin: 8px 0;
}

#back {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.text {
    font-size: 64pt;
}

.yesOrNO {
    font-size: 64pt;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #EDC79B;
}

#flowerButton img{
    background: none;
    border: none;
    cursor: pointer;
    width: 500px;
}