.h1 {
    font-size: 72pt;
}

#intro{
    margin-top: 25%;
    text-align: center;
}

#prompt{
    display: none;
    margin-top: 25%;
    text-align: center;
}

#output{
    text-align: center;
}

#enter {
    width: 100px;
    height: 50px;
    background-image: url("/img/buttonRegular.png"); /* Default image */
    background-size: cover;
    border: none;
    cursor: pointer;
}

#enter:hover {
    background-image: url("/img/buttonExpanded.png"); /* Hover image */
}

#main-page {
    display: none;
    text-align: center;
}

#back {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.text {
    font-size: 72pt;
}